.avatar img {
    object-fit: fill;
    width: auto;
}
body {
    overflow-x: hidden;
    /* overflow-y: scroll; */
    /* overflow-y: hidden; */
}

.custom-btn:hover {
    background-color: transparent !important;
    color: #3b82f6 !important;
    border-color: #3b82f6 !important;
}
.custom-btn:active {
    background-color: transparent !important;
    color: #3b82f6 !important;
}

/* CardStyles.css
.my-card img {
    width: 16rem;
    height: 16rem;
    object-fit: cover;
}
   */

@media (min-width: 768px) {
    .my-card img {
        width: 16rem;
        height: 16rem;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .my-card {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (max-width: 600px) {
    .hero {
        display: block; /* or whatever display value you prefer for small screens */
    }
    .custom-List-Icon {
        justify-content: center;
    }
}

.card img {
    height: 17rem;
}
